html, body {
  height: 100%;
}

body {
	margin: 0;
	padding: 0;
}

#container {
  height: auto;
  min-height: 100%;
	position: relative;
}

.tasklist .selected {
  background:yellow;
}
/* vim:set sw=4:ts=4:expandtab */
