/* Reset browser defaults */

html {
  height: 100%;
  overflow-y:scroll;
}

body
{
    background-color: #5c87b2;
    font-size: .75em;
    font-size: 12px;
    font-family: Verdana, Helvetica, Sans-Serif;
    margin: 0px 0px 120px 0px;
    padding: 0;
    color: #696969;
}

.loading 
{
    background: url("../images/ajax-loader.gif") 0 0 no-repeat;
    padding-left: 20px;
    height: 20px;
}
.notice
{
    margin: 20px 0px;
}
body.UHJ, body.UHJTEST
{
	background-color: #5c87b2;
}

body.ITC, body.ITCTEST
{
	background-color: #2e8b57;
}

body.UHJTEST, body.ITCTEST
{
	background-image: url(../images/test.png);
}

form
{
	margin:0;
}

input, textarea, select
{
	font-size: 1em;
}

textarea
{
	font-family: Verdana, Helvetica, Sans-Serif;
}

img
{
    border: 0;
}

a:link
{
    color: #034af3;
    text-decoration: underline;
}
a:visited
{
    color: #505abc;
}
a:hover
{
    color: #1d60ff;
    text-decoration: none;
}
a:active
{
    color: #1d60ff;
}

p, ul
{
    margin-top: 0;
    margin-bottom: 20px;
    line-height: 1.6em;
}

*[disabled] {
	background-color: #EBEBE4;
}


/* hide the dotted lines around an element when it receives focus */
* { _noFocusLine: expression(this.hideFocus=true); } /* ie7 */
::-moz-focus-inner {border:0;}	                     /* firefox */
:focus {outline:none;}                               /* ie8, chrome, etc */


/* fix button widths in IE */
button, input[type=button]
{
  *width: auto;
  *overflow: visible;
}



/* HEADINGS   
----------------------------------------------------------*/
h1, h2, h3, h4, h5, h6
{
    font-size: 1.5em;
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
}

h1
{
    font-size: 2em;
    padding-bottom: 0;
    margin-bottom: 0;
}
h2
{
    padding: 0 0 10px 0;
}
h3
{
    font-size: 1.2em;
}
h4
{
    font-size: 1.1em;
}
h5, h6
{
    font-size: 1em;
}

/* this rule styles <h2> tags that are the 
first child of the left and right table columns */
.rightColumn > h1, .rightColumn > h2, .leftColumn > h1, .leftColumn > h2
{
    margin-top: 0;
}

/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

/* you can specify a greater or lesser percentage for the 
page width. Or, you can specify an exact pixel width. */
.page
{

}

#header
{
	margin-left: auto;
	margin-right: auto;
    width:1020px;
    position: relative;
    *position: static;    /* for ie7 - goes with definitions on body tag */
    margin-bottom: 0px;
    color: #000;
}

#header h1 a
{
	text-decoration:none;
	color: #fff;
}

#header h1
{
    font-weight: bold;
    padding: 0;
    margin: 0;
    color: #fff;
    border: none;
    line-height: 1.4em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px !important;
}

#main
{
	margin-left: auto;
	margin-right: auto;
    padding: 10px 30px 15px 30px;
    background-color: #fff;
    _height: 1px; /* only IE6 applies CSS properties starting with an underscore */
    width:960px;
}

#footer
{
    color: #999;
    padding: 10px 0;
    text-align: center;
    line-height: normal;
    margin: 0;
    font-size: .9em;
}

/* TAB MENU   
----------------------------------------------------------*/

ul#menu
{
  margin:0px;
  padding:0px;
}

ul#menu li 
{
  list-style:none;
  list-style-type: none;
  display: inline-block;
  *display: inline;   /* for ie */
  *zoom: 1;           /* for ie */
}
ul#menu li a
{
  float:right;
  display: inline-block;
  padding:0px 10px 0px 0px;
  *margin-right: 4px; /* for ie */
  border-top:1px solid #999;
  border-right:1px solid #999;
  -moz-border-radius-topright: 4px/*{cornerRadius}*/; 
  -webkit-border-top-right-radius: 4px/*{cornerRadius}*/; 
  border-top-right-radius: 4px/*{cornerRadius}*/;
  font-weight: bold;
  text-decoration: none;
  background-color: #eee;
  color:black;
}

ul#menu li span
{
  background-color: #eee;
  color: #eee;
  cursor:pointer;
  display: inline-block;
  padding: 0px 1px 0px 1px;
  border-top:1px solid #999;
  border-left:1px solid #999;
  -moz-border-radius-topleft: 4px/*{cornerRadius}*/; 
  -webkit-border-top-left-radius: 4px/*{cornerRadius}*/; 
  border-top-left-radius: 4px/*{cornerRadius}*/; 
}

ul#menu li.selected a
{
  background-color:#5c87b2;
  color:#fff;
}

ul#menu li.selected a:hover
{
  color: white;
}

ul#menu li a:hover
{
  color: #5c87b2;
}

ul#menu li a.focused
{
  outline:none;
}

ul#menu li.selected a.focused
{
  color:black;
}

ul#menu li a.focused + span
{
  background-color:#ffd700;
  color:#ffd700;
}

ul#menu li.selected span
{
  background-color:#5c87b2;
  color:#5c87b2;
}

ul#menu li span.showtips,
ul#menu li a.focused + span.showtips,
ul#menu li.selected span.showtips
{
  background-color: black;
  color: yellow;
}




/* FORM LAYOUT ELEMENTS   
----------------------------------------------------------*/

fieldset 
{
    margin: 1em 0;
    padding: 1em;
    border: 1px solid #CCC;
}

fieldset p 
{
    margin: 2px 12px 10px 10px;
}

legend 
{
    font-size: 1.1em;
    font-weight: 600;
    padding: 2px 4px 8px 4px;
}

input[type="text"], textarea
{
    border: 1px solid #CCC;
}

input[type="password"] 
{
    border: 1px solid #CCC;
}

/* TABLE
----------------------------------------------------------*/

table.results
{
  border: solid 1px #e8eef4;
  border-collapse: collapse;
}

  table.results tr.odd
  {
    background: #DAEeDA;
  }

  table.results tr.editing td,
  table.results tr.adding td
  {
    padding: 2px 4px;
  }

  table.results td 
  {
    padding: 5px;   
    border: solid 1px #e8eef4;
  }

  table.results td .warning
  {
    font-style: italic;
    color: red;
  }

  table.results td.Duplicate, 
  table.results td.Duplicate a
  {
	  background-color: Red;
	  color: White;
  }
  table.results td.New,
  table.results td.New a,
  table.results td.NewResolved,
  table.results td.NewResolved a,
  table.results td.NewDuplicate,
  table.results td.NewDuplicate a
  {
	  background-color: Green;
	  color: White;
  }
  table.results td.Suggested,
  table.results td.Suggested a
  {
	  background-color: Orange;
	  color: White;
  }


table.results th,
table.results tfoot td
{
  padding: 6px 5px;
  text-align: left;
  background-color: #e8eef4; 
  border: solid 1px #e8eef4;   
}

/* MISC  
----------------------------------------------------------*/
.clear
{
    clear: both;
}

.error
{
    color:Red;
}

#menucontainer
{
    margin-top:40px;
}

#title
{
    display:block;
    text-align:left;
}

#title .system
{
	margin: 5px 0;
	font-weight: bold;
	color: #ddd; 
}

#keyboardhelp
{
    float: right;
    margin-top: 14px;
    font-size: 9px;
    line-height: 7px;
    text-align: center;
    color: #DDD;
    text-decoration: none;
}
    #keyboardhelp:hover
    {
        text-decoration: underline;
    }


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 2px solid #ff0000 !important;
    margin: 0px !important;
    background-color: #ffeeee;
}

.validation-summary-errors
{
  color:red;
}

.validation-summary-valid
{
    display: none;
}

/* Styles for editor and display helpers
----------------------------------------------------------*/
.display-label,
.editor-label,
.display-field,
.editor-field
{
    margin: 0.5em 0;
    *margin-right: 4px;
}
.display-field
{
  font-weight:bold;
}

.editor-label .tip
{
  color:#999; 
  font-style:italic;
}

.text-box
{
    width: 30em;
}

.text-box.multi-line
{
    height: 6.5em;
}

.tri-state
{
    width: 6em;
}

/* Styles for information popup 
---------------------------------------------------------- */
#flashcontainer
{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 9000;
}
.hide { display: none; }
.flash
{
    padding: 4px;
    border-top: 1px solid #FFCC66;
    border-bottom: 4px solid #FFCC66;
    font-family: helvetica;
    font-size: 1.4em;
    text-align: center;
    font-weight: bold;
}
.flash, .flash ul {
	line-height: 1.4em;
}
.flash.info
{
    background-color: #CCFFCC;
    border-top-color: #006600;
    border-bottom-color: #006600;
    color: #339933;
}
.flash.warning
{
    background-color: #FFFF99;
    border-top-color: #CC9900;
    border-bottom-color: #CC9900;
    color: #663300;
}
.flash.error
{
    background-color: #FFCC99;
    border-top-color: #800000;
    border-bottom-color: #800000;
    color: #990000;
}
.flash.error .close
{
	display:block;
}

.flash .close
{
	border: 2px solid white;
	cursor: pointer;
	float: right;
	margin-top: 1px;
	margin-right: 20px;
	padding-left: 4px;
	padding-right: 4px;
	text-decoration: none;
	line-height: 1em;
	display:none;
}
.flash .close:hover
{
	background-color: White;
}

.flash div ul
{
	margin: auto;
	display: inline-block;
	list-style-type: none;
}

/* Summary Pane */

#summary_pane
{
  position: relative;
  margin-top:0px;
  padding:5px;
  border:1px solid  #999;
  margin-bottom:10px;
  background-color: #eee;
  -moz-border-radius-topright: 4px/*{cornerRadius}*/;
  -webkit-border-top-right-radius: 4px/*{cornerRadius}*/;
  border-top-right-radius: 4px/*{cornerRadius}*/;
  -moz-border-radius-topleft: 4px/*{cornerRadius}*/;
  -webkit-border-top-left-radius: 4px/*{cornerRadius}*/;
  border-top-left-radius: 4px/*{cornerRadius}*/;
  *width: 948px; /* for ie */
}
    #summary_pane .summary_pane_cfd
    {
        position: absolute;
        color: #F55;
        top: -20px;
        font-weight: bold;
        font-size: 15px;
    }
	#summary_pane .pinked
	{
		color: #98586E;
		font-weight: bold;
		list-style-type: none;
		margin: 0 0;
		padding: 0 0 0 84px;
	}

	#summary_pane div
	{
	  display: inline-block;
	  *display: inline; /* for ie */
	  *zoom: 1;         /* for ie */
	}

	#summary_pane p
	{
	  padding: 0px;
	  margin: 0px;
	}

	#summary_pane button
	{
	  margin: 2px;
	  padding: 2px 6px;
	  *padding: 0px 6px;       /* for ie */
	  *vertical-align: middle; /* for ie */
	  line-height: 1.2em;
	}

	#summary_pane .display-label
	{
	  text-align:right;
	  width:80px;
	}
	#summary_pane .medium
	{
	  width: 130px;
	}
	#summary_pane .display-label.small
	{
	  width: 90px;
	}
	#summary_pane .display-field.small
	{
	  width: 50px;
	}

	#summary_pane label {
	  width:85px;
	  text-align:right;
	  display: inline-block;
	  *display: inline; /* for ie */
	  *zoom: 1;         /* for ie */
	}

	#summary_pane .active_edit{
	  background-color:yellow;
	}

	#summary_pane .display-field
	{
	  width:100px;
	  vertical-align:top;
	}

	#summary_pane .display-field.extralong
	{
	  width:485px;
	}

	#summary_pane .display-field.textfield
	{
	  width:640px;
	}

	#summary_pane .left 
	{
	  float:left;
	  width:740px;
	  display: inline-block;
	  *display: inline; /* for ie */
	  *zoom: 1;         /* for ie */
	}

	#summary_pane .right 
	{
	  width:190px;
	  float:right;
	  display: inline-block;
	  *display: inline; /* for ie */
	  *zoom: 1;         /* for ie */
	}

	#summary_pane .right ul
	{
	  margin: 0.5em 0;
	  padding:0em;
	  padding-right:2em;
	  list-style-type:none;
	}

	#summary_pane a
	{
	  color:black;
	  font-weight:bold;
	  text-decoration:none;
	}

.warning_text
{
  font-size:1.3em;
  text-align:center;
  color: Red;
}

/* Abstract tab */
span.accesskey 
{
    font-size: 9px;
    background-color: Gray;
    color: White;
    padding: 1px 2px;
}

/* FORM STYLEING */
.remotecopy .tabs
{
    height: 10px;
    width: 50%;
    margin-left: 140px;
    
    position: relative;
}
    .remotecopy .tabs li
    {
        float: left;
        list-style:none;
        padding: 5px 10px;
        background: #CFCFCF;
        border: 1px solid #AAA;
        border-bottom: none;
        margin-bottom: -10px;
        margin-right: 10px;
        border-radius: 5px 5px 0px 0px;
    }
    .remotecopy .tabs li.active
    {
        background: #FAFAFA;
        
    }
    .remotecopy .tabs li.active a
    {
        color: #0000FA;
    }
    .remotecopy .tabs li a
    {
        text-decoration: none;
        color: #000;
    }
.remotecopy.center
{
    margin: 0 40px 40px 40px;
    
}
    .remotecopy hr
    {
        margin: 0 0;
    }
    .remotecopy fieldset
    {
        border: 1px solid #AAA;
        border-radius: 5px;
    
        width: 60%;
        margin: 0 auto;
        background: #FAFAFA;
        padding: 10px 0 15px 0;
        
    }
    
    .remotecopy fieldset .center
    {
        width: 50%;
        margin: 0 auto;
        
    }
        .remotecopy fieldset .loading
        {
            margin: 10px;
        }
        .remotecopy fieldset label
        {
            padding: 5px;
            display: block;
            text-align: center;
            font-size: 12px;
            
        }
        .remotecopy fieldset input
        {
            font-size: 18px;
            margin: 0 2px;
        }
        .remotecopy fieldset input[type=text]
        {
            width: 123px;
        }

/* Transfer form */
#transfer
{
    margin: 0 40px 0 40px;
}
    #transfer hr
    {
        margin: 0 0;
    }
    
    #transferform
    {
        margin-bottom: 40px;
    }
    
    #transferform fieldset
    {
        border: 1px solid #AAA;
        border-radius: 5px;
    
        width: 60%;
        margin: 0 auto;
        background: #FAFAFA;
        padding: 0 0 15px 0;
    }
    
    #transferform fieldset .center
    {
        width: 50%;
        margin: 0 auto;
        padding: 2px 3px;
    }
        #transferform fieldset label.title
        {
            margin-top: 20px;
            padding: 5px;
            display: block;
            text-align: center;
            font-size: 12px;
        }
        #transferform fieldset input,
        #transferform fieldset select,
        #transferform .transmissiontype_row label,
        #transferform .growth_row label,
        #transferform .urgent_row label
        {
            font-size: 18px;
        }
        #transferform .requestedby_row select
        {
            width: 258px;
        }
        #transferform .transmissiontype_row label
        {
            line-height: 28px;
            padding-right: 25px;
        }
        #transferform .comments_row textarea
        {
            width: 258px;
        }
        #transferform .dockey_row input[type=text]
        {
            width: 172px;
        }
        #transferform #transferbutton
        {
            width: 84px;
            height: 28px;
        }
        #transferform .status_row
        {
            width: 75%;
            margin: 0 auto;
            font-size: 15px;
            margin-top: 20px;
            height: auto;
            color: Black;
        }


.adminlinks
{
    font-size: 15px;
    display: inline-block;
    width: 100%;
}        
    .adminlinks h3
    {
        margin-top: 20px;
    }
    .adminlinks ul li
    {
        margin: 10px 0px;
    }

.column
{
    float: left;
}
.leftcolumn
{
    width: 50%;
    float: left;
}
.rightcolumn
{
    width: 50%;
    float: right;
}

.form
{
  margin-top:0px;
  margin-bottom: 10px;
  padding:5px;
  border:1px solid  #999;
  -moz-border-radius-topright: 4px/*{cornerRadius}*/;
  -webkit-border-top-right-radius: 4px/*{cornerRadius}*/;
  border-top-right-radius: 4px/*{cornerRadius}*/;
  font-size: 1.1em;
}

.form.home-screen, .indexing-functions
{
  text-align:center;
  margin-left:auto;
  margin-right:auto;
  border:0px;
  padding:5px;
}

.indexing-functions a
{
  text-decoration:none;
}
  
.form .multiline
{
  width:430px;
  height:160px;
  margin-left: 5px;
  display: block;
  overflow: auto;
  position:absolute;
}

/* for Abstract tab */
div.editor-field.fixedsize
{
	width:460px; 
	height: 160px;
	padding-bottom: 5px;
}
/* for basic-information tab */
.editor-field select.fixedsize
{
	width: 300px;
}
.form .editor-container
{
  vertical-align: top;
  margin-right: 10px;
  min-width: 115px;
  max-width: 500px;
  display: inline-block;
  *display: inline; /* for ie */
  *zoom: 1;         /* for ie */
}

.form .button-container
{
  float:right;
  margin-top: 0px;
}

.form input[type="text"], .form select 
{
  margin: 0;
}

.form input.right
{
  text-align:right;
}

.uppercase
{
  text-transform:uppercase;
}

.form .dirty {
  font-weight: bold;
}

.form .date-selector 
{
  width: 80px;
  text-transform: uppercase;
}

.form .dirty.red {
  color:#f00;
}

.focused, .focused img
{
  background-color:#ffd700 ! important;
}

input[type="checkbox"].focused
{
    outline: 4px solid #ffd700;
}

a.inserttext
{
	color: Green;
}


table.results, .form form {
	margin-bottom: 20px;
}

.ui-icon {
	display:inline-block !important;
}
.ui-tooltip {
	width: 210px; 
}

.largetext
{
  font-size:1.5em;
}

table.wide
{
  width: 100%;
}
table.wide tr
{
  vertical-align: top;
}

/* SEARCH RESULTS */
table.results 
{
  width: 100%;
}

table.results tr:hover
{
  background-color: #f4f4f4;
}

table.results tr.odd:hover
{
  background-color: #E7FBE7;
}

table.results tr.selected
{
  background-color: #dfdfdf;
}

.ajaxedit.deleting
{
  background-color: #f55 !important;
}

table.results td.links 
{
  text-align:center;
  white-space:nowrap;
  padding: 0px 5px;
}

table td.right 
{
  text-align:right;
}

table td.center
{
  text-align:center;
}

table td.tight
{
  line-height: 10px;
  font-size: 11px;
  padding: 2px 5px;
}

table.center td
{
  text-align:center;
}


table.results th
{
  text-align:center;
}

table.results input[type=text] 
{
	width: 100%;
    box-sizing: border-box; /* http://goo.gl/6unTS */
}

.tab 
{
	border-left: 1px solid #999;
	border-right: 1px solid #999;
	border-top: 1px solid #999;
	border-top-left-radius: 4px 4px;
	border-top-right-radius: 4px 4px;
	background-color: #5C87B2;
	line-height: 1.6em;	
	color: white;
	font-weight: bold;
	padding: 0px 10px;
	display: inline-block;
  *display: inline; /* for ie */
  *zoom: 1;         /* for ie */
}

/* Autocompleter */
.ui-autocomplete .ui-menu-item .code
{
	width: 50px;
	display: inline-block;
	float:right;
	font-weight: bold;
  *display: inline; /* for ie */
  *zoom: 1;         /* for ie */
}

.ui-autocomplete .ui-menu-item .key
{
  width: 70px;
  display: inline-block;
  float:right;
  color: Gray;
  text-align: right;
  *display: inline; /* for ie */
  *zoom: 1;         /* for ie */
  *margin-right: 12px;  /* for ie */
}

.ui-autocomplete .ui-menu-item .status
{
  width: 70px;
  display: inline-block;
  float:right;
  font-weight: bold;
  color: Red;
  text-align: right;
  *display: inline; /* for ie */
  *zoom: 1;         /* for ie */
  *margin-right: 12px;  /* for ie */
}

.ui-autocomplete .ui-menu-item .highlight
{
	color: blue;
}

.ui-autocomplete  
{
	max-height: 230px; 
	overflow-y: auto; 
	overflow-x: hidden;
}

.ui-dialog
{
	margin-top: 50px;
}

.ui-dialog-buttonset
{
	float: none !important; /* because the jquery-ui stylesheet is loaded after this one */
	text-align: right;
}

/* Search box */
#searchbox
{
	float:right;
	margin-top: 12px;
	margin-left: 12px;
}
#searchbox input
{
	width: 160px;
}

.hint
{
	color: #999;
	padding: 0 5px;
}
.hintfocus
{
	color: black;
}

/* Keyboard navigation */
.keynav_focusbox  
{
	background-color:lightgreen !important;
	color:Black;
}
.keynav_box {  }

tr.hide , li.hide, ul.hide { display:none; }

a.navigation.next {
  float: right;
  *margin-top:-1.6em;
  *margin-right:0.6em;
}
a.navigation.prev {
  float: left;
}





/* Keyboard help */

#abbreviations th {
	text-align: left;
	color: Yellow;
}
#abbreviations td {
	text-align: left;
}

#keyboard-help {
	width: 100%;
}

#keyboard-help .desc {
	font-weight: normal;
	text-align: left;
}

#keyboard-help .key {
	font-weight: bold;
	padding-right: 0.25em;
	text-align: right;
	white-space: nowrap;
}
#keyboard-help th {
	color: #DD0;
	padding-top: 0.5em;
}

.banner-background .primary-message,.banner-background .secondary-message
{
	visibility:hidden;
}

.banner-foreground
{
	text-shadow:#000 1px 1px 7px;
	z-index:1002;
}

.banner .primary-message,.banner .secondary-message
{
	font-family:sans-serif;
	font-weight:700;
	margin:0;
}

.banner .primary-message
{
	font-size:200%;
}

.banner .secondary-message
{
	border-top:solid 1px #999;
	font-size:150%;
	padding-top:.5em;
}

.banner .plain-message
{
	font-weight: normal;
	text-align: left;
}

.banner-background
{
	-moz-border-radius:10px;
	-moz-opacity:0.8;
	-webkit-border-radius:10px;
	background:black;
	border-radius:10px;
	filter:alpha(opacity=80);
	opacity:0.8;
	overflow:auto;
	z-index:1001;
}

.banner
{
	color:white;
	left:15%;
	margin:0;
	padding:1em;
	position:absolute;
	text-align:center;
	top:40%;
	width:70%;
	font-size: 1.1em;
}

.banner a
{
	color:White;
	text-decoration: none;
}
.banner a:hover
{
	text-decoration: underline;
}

.keyboard-help-banner .resized {
	overflow-x: hidden;
	overflow-y: auto;
}

.keyboard-help-banner {
	left: 5%;
	top: 5%;
	width: 90%;
}

.banner-tearoff-link-container .link {
	color: #DD0;
}

.banner .link {
	cursor: pointer;
	text-decoration: underline;
}


.error-iframe  
{
	display:none;
    margin-left: auto;
	margin-right: auto;
    width:1020px;
    height: 700px;
}

.loader
{
	display:inline-block;
	margin: 2px;
	padding: 3px 10px 3px 3px;
	border:1px solid #eee;
	background-color: #f6f6f6;
	font-size: 0.8em;
}
.loader img
{
	vertical-align:middle;
}

.macro
{
	font-style:italic;
	float:right;
	margin-left: 10px;
}

ul.ui-autocomplete
{
	max-width: 740px;
}

#HelpKeyboard
{
	display:none;
}

.abbreviate
{
   display: block;
   float:right;
   background-image: url('../images/replace.png');
   width: 18px;
   height: 18px;
   margin: 1px;
}

a.abbreviate:hover
{
	background-color: #eee;
	margin: 0px;
	border: 1px solid #666;
}

a.abbreviate:active
{
	margin: 0px;
	border: 1px solid #666;
}


/* Distribution tab */
.distribution .notice .link
{
    display: inline-block;
}

tbody.ui-sortable td.handle
{
    width: 4px;
    padding: 0;
    background-color: #CACACA;
}



/* Formatting for the Operations tab */

.operations input[type=submit], button[type=submit]
{
  margin: 2px;
  padding-left: 6px;
  padding-right: 6px;
  *width: auto;
  *overflow: visible;
}

.operations .leftmargin 
{
	margin: 0 4em 20px 4em;
}

.operations ul
{
	margin-bottom: 0px;
	margin-top: 0px;
}

.operations form
{
	margin-bottom: 0px;
    display: inline-block;
}

.operations .widebutton
{
  display: inline-block;
  *display: inline; /* for ie */
  *zoom: 1;         /* for ie */
  width: 110px;
}
#confidentiality
{
    border: 1px solid #AAA;
    padding: 10px;
    border-radius: 5px;
}
#confidentiality h3
{
    margin-top: 0px;
    font-size: 18px;
}
#confidentiality h4
{
    padding: 0 0;
    margin: 0 0;
    font-size: 12px;
}
#confidentiality .keynav_focusbox
{
    background: none !important;
}
#confidentiality .action
{
    margin: 10px 0;
    padding: 4px;
}
    #confidentiality form
    {
        clear: both;
        float: left;
        width: 140px;
    
    }
    #confidentiality form input
    {
        
    }

    #confidentiality .description
    {
        float: left;
        width: 300px;
        
    }

#filesDialog label
{
    width: 80px;
    display: inline-block;
}

#filesDialog ul.nav
{
    list-style: none;
    font-weight: bold;
    border-bottom: 1px solid #ddd;
}

#filesDialog ul.nav li
{
    cursor: pointer;
    display: inline-block;
    padding: 0px 14px;
    text-align: center;
    border: 1px solid #bbb;
    border-bottom: none;
    -moz-border-radius-topright: 4px/*{cornerRadius}*/; 
    -webkit-border-top-right-radius: 4px/*{cornerRadius}*/; 
    border-top-right-radius: 4px/*{cornerRadius}*/;
    -moz-border-radius-topleft: 4px/*{cornerRadius}*/; 
    -webkit-border-top-left-radius: 4px/*{cornerRadius}*/; 
    border-top-left-radius: 4px/*{cornerRadius}*/; 
    
}

#filesDialog ul.nav li.active
{
    background-color: #5C87B2;
    color: white;
}

#filesDialog ul.nav li.disabled
{
    background-color: #ddd;
    color: white;
}

#filesDialog .tabpanel
{
    display: none;
}

#filesDialog .tabpanel.active
{
    display: block;
}

#filesDialog #message
{
    text-align: center;
    font-weight: bold;
    margin-top: 15px;
}

#filesDialog #file
{
    width: 95px;
}

#printing img
{
    vertical-align: text-bottom;
}
/** files **/
ul.files .dropzone
{
    border: 2px dashed #eee;
    position: absolute;
    width: 936px;
    height: 24px;
    background-color: #fff;
    margin-top: -4px;
    margin-left: -9px;
    z-index: 10;
    opacity: 0.7;
    text-align: center;
    font-size: 14pt;
    display: none;
}

.dropzone.hover,
.dropinput.hover~.dropzone
{
    /* important because the sibling selector(~) is lower priority than
       the a directly applied class (see ul.files .dropzone) */
    background-color: #cfc !important;
    border-color: green !important;
    color: green !important;
}

ul.files,
ul.files ul
{
    list-style: none;
    margin: 0 0;
    padding: 0 0;
    clear: left;
    width: 100%;
}

ul.files input[type=submit]
{
         
}
ul.files li
{
    clear: left;
    list-style:none;
    padding: 0 0;
    min-height: 20px;
}
ul.files .editdialog
{
    display: block;
    margin-left: 15px;
    float: left;
}
ul.files .ui-state-highlight
{
    min-height: 30px;   
}
  
    ul.files li.adding button
    {
        float: right;
    }
    ul.files .shadowfile
    {
        display: none;
    }
    
        ul.files .shadowfile .row
        {
            background-color: #E5E5E5;
        }
    
    ul.files li > div
    {
        width: 932px;;
        background: #F5F5F5;
        margin-top: 1px;
        display: block;
        height: 20px;
        border-left: 4px solid #CACACA;
        padding: 5px 0px 5px 10px;
        cursor: pointer;
    }

        ul.files li div div
        {
            height: 20px;
            float: left;
            position: relative;
        }
        ul.files li div div input[type=submit]
        {
            height:20px;

        }
        ul.files li div div.source
        {
            width: 110px;
        }
        ul.files li div div.filename
        {
            width: 170px;
        }
        ul.files li div div.description
        {
            width: 320px;
            overflow: hidden;
        }
        ul.files li div div input.description
        {
            width: 310px;
        }
        ul.files li div div.footer
        {
            width: 110px;
            overflow: hidden;
        }
        ul.files li div div input.footer
        {
            width: 90px;
        }
        ul.files li div div.links
        {
            width: 100px;   
        }
        ul.files li div div.created
        {
            width: 90px;
        }
        ul.files li div div.created_edit
        {
            width: 120px;
            margin-right: 10px;
        }
        ul.files li div div.created_edit select
        {
            width: 120px;
        }
        ul.files li div div.tight
        {
            line-height: 11px;
            margin-top: -2px;
            font-size: 11px;
        }
        ul.files li div div.right
        {
            text-align: right;
            padding-right: 5px;
        }
        ul.files li div div.center
        {
            text-align: center;
        }
        ul.files .files_header .row-thin
        {
            height: 15px;
            margin: 0 0;
            padding-top: 0px;
            padding-right: 4px;    
            text-align: right;
            background: #CACACA;
            border: none;
            
        }
            .row-thin a.powerlink
            {
                color: #222;
                font-size: 10px;
            }
            .row-thin a.powerlink:hover
            {
                color: #FAFAFA;
            }
        ul.files .files_header div
        {
            text-align: left;
            font-weight: bold;
            background-color: #e8eef4; 
            border: solid 1px #e8eef4;   
        }
        ul.files .files_header div:last-child
        {
            padding-right: 2px;
        }
        /* tools */
        ul.files .tools
        {
            display: block;
            float: right;
            text-decoration: none;
            padding: 0px 15px 0px 5px;
            background: transparent url('../images/arrow_down_grey.gif')  45px 9px no-repeat;
            position: relative;
        }
        ul.files .tools:hover,
        ul.files .tools.active
        {
            background: #5C87B2 url('../images/arrow_down_grey.gif') 45px 9px no-repeat;
            color: #FFF;
        }
        ul.files .tools_dropdown
        {
            list-style: none;
            background: #FCFCFC;
            position: absolute;
            z-index: 100;
            right: 0px;
            top: 20px;
            width: 130px;
            border: 1px solid #AFAFAF;
        }
        ul.files .tools_dropdown li
        {
            padding: 3px 5px;
            clear: left;
            position: relative;
        }
        ul.files .tools_dropdown  li span,
        ul.files .tools_dropdown  li a
        {
            text-decoration: none;
            display: block;
            float: left;
            padding-left: 20px;
        }
        ul.files .tools_dropdown  li a
        {
            width: 100%;
        }
        ul.files .tools_dropdown  li div
        {
            background: none;
            width: auto;
            height: auto;
            border: none;
            padding: 0 0;
            margin: 0 0;
        }
        ul.files .tools_dropdown  li.delete span,
        ul.files .tools_dropdown  li.delete a
        {
            background: url('../images/delete.gif') 2px 4px no-repeat;
        }
        ul.files .tools_dropdown  li.replace a
        {
            background: url('../images/file_replace.png') 0 2px no-repeat;
        }
        ul.files .tools_dropdown  li.primary a
        {
            background: url('../images/primary.png') 0 2px no-repeat;
        }
        ul.files .tools_dropdown  li.cap a
        {
            background: url('../images/cap.png') 0 2px no-repeat;
        }
        ul.files .tools_dropdown li.replace div.status
        {
            font-size: 9px;
            background-color: #e6e6e6;
            padding: 0 5px 0 5px;
            left: -5px;
            width: 100%;
        }
        ul.files .tools_dropdown li.replace input
        {
            position: absolute;
            left: 20px;
            top: 5px;
            z-index: -1;
            width: 1px;
            height: 1px;
        }
        ul.files .tools_dropdown  li:hover
        {
            background: #5C87B2;
        }
        ul.files .tools_dropdown  li:hover a
        {
            color: #FFF;
        }
.uploadarea .messages div,
#uploadarea .messages div
{
    font-size: 8px;
    line-height: normal;
    margin-left: 12px;
}
.uploadarea .dropinput,
#uploadarea .dropinput {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 1;
}
.uploadarea .dropzone,
#uploadarea .dropzone
{
    background-color: #fff;
    border-bottom-left-radius: 5px 5px;
    border-bottom-right-radius: 5px 5px;
    border-top-left-radius: 5px 5px;
    border-top-right-radius: 5px 5px;
    font: 12px/1.4 arial,FreeSans,Helvetica,sans-serif;
    position: absolute;
    top: 0;
    left: 0;
    height: 169px;
    border: 3px dashed #EEE;
    color: #CCC;
    font-size: 18pt;
    font-weight: bold;
    padding: 0 25px;
    margin: 0;
    text-align: center;
    display: none;
}
    .uploadarea .dropzone-image,
    #uploadarea .dropzone-image
    {
        background-image: url(../images/arrow.gif);
        height: 55px;
        margin: 0 auto;
        width: 55px;
        margin-top: 15px;
    }
    .uploadarea .dropzone-text,
    #uploadarea .dropzone-text
    {
        margin: 0 auto;
        padding-top: 6px;
    }

/** Publish tab & Files Tab**/
.hr
{
    border-top: 1px solid #CCC;
    width: 100%;
    margin: 10px auto;
}
.publishtab .left
{
    position: relative;
    float: left;
    width: 480px;
    margin-left: 10px;
}
    .publishtab .view_dists,
    .publishtab .back
    {
        float: left;
        position: absolute;
        top: 10px;
        font-size: 10px;
        right: 0px;
    }
    .publishtab thead tr th
    {
        text-align: left;
    }
    /*view dists manual section */
    .publishtab .ajax .printsingle
    {
        float: left;
    }
    .publishtab .ajax .emailsingle
    {
        float: right;
    }
    .publishtab .files,
    .publishtab .files a,
    .publishtab .bottomfiles,
    .publishtab .bottomfiles a
    {
        font-size: 11px;
    }
    .publishtab .description,
    .publishtab .source,
    .publishtab .filename a
    {
        
    }
    .publishtab .includefile
    {
        width: 30px;
    }
    .publishtab .filename
    {
        width: 140px;
    }
    .publishtab .footer
    {
        width:90px;
    }
    .publishtab .source
    {
        width: 80px;
    }
    .publishtab .pageSelection
    {
        width:40px;
    }
    .publishtab .totalPages
    {
        width:40px;
    }
h3
{
    margin: 5px 0px;
    color: #5C87B2;
}
.publishtab .right
{
    position: relative;
    float: left;
    margin-left: 30px;
    width: 420px;
}

    .publishtab .odd.gray,
    .publishtab .gray
    {
        background: #FAFAFA;
        color: #CCC;
    }
    
    .publishtab .odd.gray td a,
    .publishtab .gray td a
    {
        color: #CCC;
    }

    .publishtab .printed,
    .publishtab .emailed
    {
        text-align: center;
    }
    
.otheractions
{
    width: 98%;
    position: relative;
    background: #EFEFEF;
    margin: 0 auto;
    border: 1px solid #CCC;
    border-radius: 5px;
    margin-bottom: 20px;
} 
    .otheractions,
    .otheractions > ul,
    .otheractions .panel
    {
        height: 250px;
    }
    .otheractions > ul
    {
        position: absolute;
        left: 0px;
        width: 180px;
        border-right: 1px solid #CACACA;
        margin: 0 0;
        padding: 0 0;
        list-style: none;
    }
    .otheractions > ul > li .focused
    {
        background: none !important;
    }
    .otheractions > ul > li.keynav_focusbox
    {
        background-image: -webkit-gradient(
            linear,
            left bottom,
            right bottom,
            color-stop(0.5, #5C87B2),
            color-stop(1.5, #FFFFFF)
        );
                
    }
    .otheractions > ul > li
    {
        height: 20px;
        background: #CACACA;
        border: 1px solid #CACACA;
        width: 181px;
        border-right: none;
        border-radius: 5px;
        margin: 15px 0px 15px 15px;
        padding: 5px;
    }
    .otheractions >ul > li.active
    {
        
        background-image: -webkit-gradient(
            linear,
            left bottom,
            right bottom,
            color-stop(0.5, #5C87B2),
            color-stop(1.5, #FFFFFF)
        );
    }
    .otheractions >ul > li.active a
    {
        color: #FFF;
    }
    .otheractions > ul > li a
    {
        display: block;
        width: 100%;
        height: 100%;
        color :#000;
        font-weight: bold;
        text-decoration: none;
        font-size: 11px;
    }
    .otheractions .panel
    {
        width: 748px;
        position: absolute;
        top: 0px;
        right: 0px;
        background: #FFF;
        border-radius: 5px;
    }
    .otheractions .panel h3,
    .otheractions .panel ul,
    .otheractions .panel p,
    .otheractions .panel form
    {
        margin: 10px;
        clear: both;
        line-height: 15px;
    }
        .otheractions .panel ul li
        {
            margin: 10px 0px
        }
    .otheractions .panel button,
    .otheractions .panel div.buttonstatus,
    .otheractions .panel input[type=submit]
    {
        float: right;
        margin: 5px 10px 0 0;
    }
    
    .otheractions #homepanel span.accesskey
    {
        float: right;
        margin: 10px 5px 0 0;
    }

/* can we delete this? */
.steps
{
    height: 230px;    
}
    .steps > ul
    {
        list-style:none;
        width: 950px;
        margin: 20px 0;
        padding: 0 0;
    }
        .steps ul li.step
        {
            width: 220px;
            height: 175px;
            float: left;
            margin: 0 6px;
            background: #BBB;
            border-radius: 5px;
            position: relative;

            background-image: -webkit-gradient(
                linear,
                left bottom,
                left top,
                color-stop(0.0, #CBDEF2),
                color-stop(1.0, #D6EAFF)
            );
        }
        
        .steps ul li h4 span
        {
            position: absolute;
            font-size: 34px;
            top: 10px;
            color: #FFF;
            left: 10px;
        }
        .steps ul li h4
        {
            display: block;
            font-size: 17px;
            margin-top: 10px;
            margin-left: 38px;
            margin-bottom: 5px;
            color: #1F65A6;
        }
        .steps ul li h4.noleft
        {
            margin-left: 10px;
        }
            .steps ul li h4 a
            {
                color: #1F65A6;
            }
            .steps ul li h4 a:hover
            {
                color: #FFF;
            }
        .steps ul li ul
        {
            list-style:disc;
            padding: 0 0;
            margin-left: 25px;
        }
        .steps ul li ul li
        {
            font-size: 11px;
        }
        .steps ul li #distribution
        {
            margin: 10px 24px;
        }
            .steps ul li #distribution a
            {
                font-family: Arial, Helvetica, sans-serif;
                font-size: 14px;
                font-weight: bold;
                color: #034af3;
            }
        .steps ul li p
        {
            color: #222;
            padding: 0 0;
            margin: 10px 10px;   
            line-height: 15px;
            font-size: 13px;
        }

/* search */

/* pagination */
.pagination 
{
	margin: 5px;
	float: left;
}
.pagination a, .pagination span 
{
	border: solid 1px #888888;
	padding: 2px 5px;
	margin: 2px;
}
.pagination a 
{
	text-decoration: none;
}
.pagination a:hover
{
	background-color: #FFFFCC;
}
.pagination .currentPage
{
	font-weight: bold;
	background-color: #888888;
	color: White;
}
.pagination .disabledPage 
{
	color: #aaaaaa;
}
    .warning
    {
        background-color: #fdd;
        color: #F00;
    }

    ul>li:nth-child(odd) .warning,
    table tr:nth-child(odd) .warning
    {
        background-color: #fff0f0;
    }
    
    div.warning a:link,
    div.warning a:visited
    {
        color: red;
    }

/* Administration */
.administration .pages
{
    text-align: center;
    background-color: #E8EEF4;
    padding: 5px;
    margin-bottom: 20px;
    margin-top: -20px;
}

.administration #search .keynav
{
    margin-top: 10px;
    padding: 0 2px;
    width: 385px;
}

.administration.authority #search .keynav
{
    width: 212px;
}

.administration.authority #search .keynav>input[type=text]
{
    width: 118px
}


.administration .results tr:not(.adding):not(.editing)
{
    vertical-align: top;
}

.administration .results td.links
{
    vertical-align: middle;
}

.administration dl 
{
    margin: 0;
}
 
.administration dl dt {
    float:left;
    margin-right:10px;
    width:60px;
}
 
.administration dl dd {
    padding:1px 0;
}

.administration .listbox .text
{
    width: 80px;
}

.administration .listbox .select
{
    min-width: 80px;
}

    .administration form .editor-container
    {
        margin: 0px 3px;
        padding: 0px 2px;
        max-width: inherit;
    }

    .administration form .button-container
    {
        margin-right: 5px;
        padding: 1px 4px 1px 4px;
    }

    .administration form textarea
    {
        width: 632px;
        height: 68px;
    }

    .administration form input.wide
    {
        width: 804px;
    }

    .administration form textarea.wide
    {
        width: 800px;
    }

    .administration form .medium
    {
        width: 675px;
    }

    .administration form .narrow
    {
        width: 111px;
    }
    
    .administration form .tight
    {
        text-align: right;
        line-height: 10px;
        font-size: 11px;
        padding: 2px 5px;
    }
